# Duplicate Data

A data set might have duplicate data: in other words, the same record is represented multiple times. Sometimes, it's easy to find and eliminate duplicate data like when two records are exactly the same. At other times, like what was discussed in the video, duplicate data is hard to spot. 

# Exercise 1

From the World Bank GDP data, count the number of countries that have had a project totalamt greater than 1 billion dollars (1,000,000,000). To get the count, you'll have to remove duplicate data rows.

In [15]:
pd.set_option("display.max.columns", None)

In [1]:
import pandas as pd

# read in the projects data set and do some basic wrangling 
projects = pd.read_csv('../data/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['countryname'] = projects['countryname'].str.split(';', expand=True)[0]
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

In [10]:
# TODO: filter the data frame for projects over 1 billion dollars
# TODO: count the number of unique countries in the results

project_over_1billion = projects[projects['totalamt'] > 1000000000]
print("number of countries with projects over $1 billion: {}".format(project_over_1billion.countryname.nunique()))

print("the countries with projects over $1 billion are below: ")
project_over_1billion.countryname.value_counts()

number of countries with projects over $1 billion: 17
the countries with projects over $1 billion are below:

Republic of India                  7
United Mexican States              7
Republic of Poland                 5
Federative Republic of Brazil      3
Republic of Korea                  3
Republic of Turkey                 3
Romania                            2
Republic of Kazakhstan             2
Republic of Peru                   2
Republic of Indonesia              2
Republic of Iraq                   2
Hungary                            1
Republic of South Africa           1
Argentine Republic                 1
Arab Republic of Egypt             1
People's Republic of Bangladesh    1
Russian Federation                 1
Name: countryname, dtype: int64

# Exercise 2 (challenge)

This exercise is more challenging. **The projects data set contains data about Yugoslavia, which was an Eastern European country until 1992.** Yugoslavia eventually broke up into 7 countries: Bosnia and Herzegovina, Croatia, Kosovo, Macedonia, Montenegro, Serbia, and Slovenia.

But the projects dataset has some ambiguity in how it treats Yugoslavia and the 7 countries that came from Yugoslavia. 

**Your task is to find Yugoslavia projects that are probably represented multiple times in the data set.**

In [24]:
import datetime

republic_Yugoslavia = ['Bosnia', 'Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', 'Sovenia']

cols_keep = ['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate', \
             'location','GeoLocID', 'GeoLocName', 'Latitude','Longitude','Country', 'project_name']

In [35]:
# TODO: output all projects for the 'Socialist Federal Republic of Yugoslavia'
# HINT: You can use the exact country name or use the pandas str.contains() method to search for Yugoslavia

yugoslavia = projects[cols_keep][projects['countryname'].str.contains('Yugoslavia')]
yugoslavia

,regionname,countryname,lendinginstr,totalamt,boardapprovaldate,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,project_name
11166,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,300000000,1991-06-25 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Kolubara B Thermal Power & Lignite Mine Project
11410,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Sector Investment and Maintenance Loan,292000000,1990-06-20 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Highway Sector Loan Project (03)
11479,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Structural Adjustment Loan,400000000,1990-04-12 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Structural Adjustment Loan Project (02)
11694,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Sector Investment and Maintenance Loan,138000000,1989-05-23 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Railway Project (07)
11695,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,60000000,1989-05-23 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Istria Water Supply & Sewerage Project
...,...,...,...,...,...,...,...,...,...,...,...,...
17903,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,30000000,1962-07-11 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Electric Power Project
17963,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,30000000,1961-02-23 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Electric Power Project
18175,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Structural Adjustment Loan,30000000,1953-02-11 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Power Mining Industry Project
18197,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Structural Adjustment Loan,28000000,1951-10-11 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Power Mining Industry Project
18228,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,2700000,1949-10-17 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Agriculture Timber Equipment Project

Yugoslavia officially ended on [April 27th, 1992](https://en.wikipedia.org/wiki/Yugoslavia). 

In the code cell below, filter for projects with a 'boardapprovaldate' prior to April 27th, 1992 **and** with 'countryname' Bosnia and Herzegovina, Croatia, Kosovo, Macedonia, Serbia **or** Slovenia. You'll see there are a total of 12 projects in the data set that match this criteria. Save the results in the republics variable

In [38]:
# TODO: filter the projects data set for project boardapprovaldate prior to April 27th, 1992 AND with countryname
#  of either 'Bosnia and Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', or 'Sovenia'. Store the
#  results in the republics variable

#  TODO: so that it's easier to see all the data, keep only these columns:
# ['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
# 'location','GeoLocID', 'GeoLocName', 'Latitude','Longitude','Country', 'project_name']

# TODO: sort the results by boardapprovaldate

# this does not work well. contains shows more results
# republics = projects[cols_keep][projects['countryname'].isin(republic_Yugoslavia)].sort_values(by='boardapprovaldate')

republics = projects[cols_keep][((projects['countryname'].str.contains('Bosnia')) | 
         (projects['countryname'].str.contains('Croatia')) | 
         (projects['countryname'].str.contains('Kosovo')) | 
         (projects['countryname'].str.contains('Macedonia')) | 
         (projects['countryname'].str.contains('Montenegro')) | 
         (projects['countryname'].str.contains('Serbia')) | 
         (projects['countryname'].str.contains('Slovenia')))].sort_values(by='boardapprovaldate')

 
republics = republics[republics['boardapprovaldate']<'1992-04-27']
# show the results
republics.shape

(12, 12)

In [34]:
republics.boardapprovaldate.value_counts()

1983-07-26 00:00:00+00:00    4
1987-10-13 00:00:00+00:00    3
1987-03-31 00:00:00+00:00    2
1989-05-23 00:00:00+00:00    2
1980-02-01 00:00:00+00:00    1
Name: boardapprovaldate, dtype: int64

Are these projects also represented in the data labeled Yugoslavia? In the code cell below, filter for Yugoslavia projects approved between February 1st, 1980 and May 23rd, 1989 which are the minimum and maximum dates in the results above. Store the results in the yugoslavia variable.

The goal is to see if there are any projects represented more than once in the data set.

In [37]:
# TODO: Filter the projects data for Yugoslavia projects between
# February 1st, 1980 and May 23rd, 1989. Store the results in the
# Yugoslavia variable. Keep the same columns as the previous code cell.
# Sort the values by boardapprovaldate

yugoslavia = yugoslavia[yugoslavia['boardapprovaldate'].between('1980-02-01', '1989-05-23')] 

# show the results
yugoslavia.shape

(31, 12)

And as a final step, **try to see if there are any projects in the republics variable and yugoslavia variable that could be the same project.**

There are multiple ways to do that. As a suggestion, find unique dates in the republics variable. Then separately find unique dates in the yugoslavia variable. Concatenate (ie append) the results together. And then count the number of times each date occurs in this list. If a date occurs twice, that means the same boardapprovaldate appeared in both the Yugoslavia data as well as in the republics data.

You'll should find that there are three suspicious cases:

* July 26th, 1983
* March 31st, 1987
* October 13th, 1987
* May 23rd, 1989

In [46]:

# TODO: find the unique dates in the republics variable
republic_unique_dates = republics['boardapprovaldate'].unique()

# TODO: find the unique dates in the yugoslavia variable
yugoslavia_unique_dates = yugoslavia['boardapprovaldate'].unique()

AttributeError: 'DatetimeArray' object has no attribute 'tolist'

In [48]:
republic_unique_dates

<DatetimeArray>
['1980-02-01 00:00:00+00:00', '1983-07-26 00:00:00+00:00',
 '1987-03-31 00:00:00+00:00', '1987-10-13 00:00:00+00:00',
 '1989-05-23 00:00:00+00:00']
Length: 5, dtype: datetime64[ns, UTC]

In [43]:
yugoslavia_unique_dates

<DatetimeArray>
['1989-05-23 00:00:00+00:00', '1988-06-29 00:00:00+00:00',
 '1987-10-13 00:00:00+00:00', '1987-03-31 00:00:00+00:00',
 '1986-06-10 00:00:00+00:00', '1985-06-27 00:00:00+00:00',
 '1985-06-06 00:00:00+00:00', '1985-05-03 00:00:00+00:00',
 '1985-04-30 00:00:00+00:00', '1984-07-31 00:00:00+00:00',
 '1983-08-02 00:00:00+00:00', '1983-07-26 00:00:00+00:00',
 '1983-07-19 00:00:00+00:00', '1983-06-28 00:00:00+00:00',
 '1983-06-09 00:00:00+00:00', '1983-01-25 00:00:00+00:00',
 '1982-05-27 00:00:00+00:00', '1982-05-04 00:00:00+00:00',
 '1982-04-27 00:00:00+00:00', '1981-11-10 00:00:00+00:00',
 '1981-07-14 00:00:00+00:00', '1981-05-14 00:00:00+00:00',
 '1981-04-28 00:00:00+00:00', '1981-03-03 00:00:00+00:00',
 '1980-10-28 00:00:00+00:00', '1980-03-25 00:00:00+00:00',
 '1980-02-26 00:00:00+00:00']
Length: 27, dtype: datetime64[ns, UTC]

In [49]:
import numpy as np

In [97]:
# TODO: make a list of the results appending one list to the other
dates = np.append(republic_unique_dates, yugoslavia_unique_dates)

In [98]:
dates = pd.DataFrame(dates)[0].value_counts()

In [99]:
dates

1987-10-13 00:00:00+00:00    2
1989-05-23 00:00:00+00:00    2
1983-07-26 00:00:00+00:00    2
1987-03-31 00:00:00+00:00    2
1982-05-04 00:00:00+00:00    1
1983-08-02 00:00:00+00:00    1
1980-10-28 00:00:00+00:00    1
1988-06-29 00:00:00+00:00    1
1980-02-26 00:00:00+00:00    1
1980-03-25 00:00:00+00:00    1
1981-03-03 00:00:00+00:00    1
1983-06-28 00:00:00+00:00    1
1985-06-06 00:00:00+00:00    1
1981-04-28 00:00:00+00:00    1
1985-05-03 00:00:00+00:00    1
1985-04-30 00:00:00+00:00    1
1980-02-01 00:00:00+00:00    1
1984-07-31 00:00:00+00:00    1
1986-06-10 00:00:00+00:00    1
1982-05-27 00:00:00+00:00    1
1983-01-25 00:00:00+00:00    1
1981-07-14 00:00:00+00:00    1
1983-06-09 00:00:00+00:00    1
1985-06-27 00:00:00+00:00    1
1983-07-19 00:00:00+00:00    1
1982-04-27 00:00:00+00:00    1
1981-11-10 00:00:00+00:00    1
1981-05-14 00:00:00+00:00    1
Name: 0, dtype: int64

In [95]:
dates[dates>1]

1987-10-13 00:00:00+00:00    2
1989-05-23 00:00:00+00:00    2
1983-07-26 00:00:00+00:00    2
1987-03-31 00:00:00+00:00    2
Name: 0, dtype: int64

In [96]:
# method 2
# TODO: print out the dates that appeared twice in the results
unique_dates, count = np.unique(dates, return_counts=True)

for i in range(len(unique_dates)):
    if count[i] == 2:
        print(unique_dates[i])

# Conclusion

On July 26th, 1983, for example, projects were approved for Bosnia and Herzegovina, Croatia, Macedonia, Slovenia, and Yugoslavia. The code below shows the projects for that date. You'll notice that Yugoslavia had two projects, one of which was called "Power Transmission Project (03) Energy Managem...". The projects in the other countries were all called "POWER TRANS.III". 

This looks like a case of duplicate data. What you end up doing with this knowledge would depend on the context. For example, if you wanted to get a true count for the total number of projects in the data set, should all of these projects be counted as one project? 

Run the code cell below to see the projects in question.

In [40]:
import datetime

# run this code cell to see the duplicate data
pd.concat([yugoslavia[yugoslavia['boardapprovaldate'] == '1983, 7, 26'], republics[republics['boardapprovaldate'] == '1983, 7, 26']])

,regionname,countryname,lendinginstr,totalamt,boardapprovaldate,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,project_name
13046,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Financial Intermediary Loan,70000000,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Industrial Credit Project (07)
13047,Europe and Central Asia,Socialist Federal Republic of Yugoslavia,Specific Investment Loan,120000000,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,Power Transmission Project (03) Energy Managem...
13048,Europe and Central Asia,Bosnia and Herzegovina,Specific Investment Loan,0,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,POWER TRANS.III
13051,Europe and Central Asia,Republic of Slovenia,Specific Investment Loan,0,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,POWER TRANS.III
13050,Europe and Central Asia,Macedonia,Specific Investment Loan,0,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,POWER TRANS.III
13049,Europe and Central Asia,Republic of Croatia,Specific Investment Loan,0,1983-07-26 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,POWER TRANS.III