#### Removing Data Part II

So, you now have seen how we can fit a model by dropping rows with missing values.  This is great in that sklearn doesn't break! However, this means future observations will not obtain a prediction if they have missing values in any of the columns.

In this notebook, you will answer a few questions about what happened in the last screencast, and take a few additional steps.

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
import RemovingData as t
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')

#Subset to only quantitative vars
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]


num_vars.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
0,NaN,NaN,0.0,NaN,9.0
1,NaN,NaN,NaN,NaN,8.0
2,113750.0,8.0,NaN,9.0,8.0
3,NaN,6.0,5.0,3.0,10.0
4,NaN,6.0,NaN,8.0,NaN

In [5]:
print(df.shape, num_vars.shape)

(19102, 154) (19102, 5)

#### Question 1

**1.** What proportion of individuals in the dataset reported a salary?

In [2]:
prop_sals = df.Salary.notnull().mean()
# Proportion of individuals in the dataset with salary reported

prop_sals

0.2622238509056643

In [3]:
t.prop_sals_test(prop_sals) #test

Nice job! That looks right!

#### Question 2

**2.** Remove the rows associated with nan values in Salary (only Salary) from the dataframe **num_vars**.  Store the dataframe with these rows removed in **sal_rem**.

In [14]:
sal_rm = num_vars.dropna(subset=['Salary'])
# dataframe with rows for nan Salaries removed

sal_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

In [9]:
t.sal_rm_test(sal_rm) #test

Nice job! That looks right!

#### Question 3

**3.** Using **sal_rm**, create **X** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question3_solution**.

In [16]:
X = sal_rm.drop(['Salary'], axis=1)
#Create X using explanatory variables from sal_rm

y = sal_rm['Salary']
#Create y using the response variable of Salary

In [17]:
X.head()

,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,8.0,NaN,9.0,8.0
14,8.0,NaN,8.0,8.0
17,9.0,NaN,8.0,8.0
18,5.0,NaN,3.0,NaN
22,8.0,NaN,9.0,8.0

In [23]:
print(X.shape, y.shape)

(5009, 4) (5009,)

In [27]:
X.isnull().mean()

CareerSatisfaction           0.001996
HoursPerWeek                 0.544420
JobSatisfaction              0.002795
StackOverflowSatisfaction    0.066480
dtype: float64

In [24]:
# Split data into training and test data, and fit a linear model
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=.30, random_state=42)
lm_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_model.fit(X_train, y_train)
except:
    print("Oh no! It doesn't work!!!")

Oh no! It doesn't work!!!

In [25]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question3_solution = c

#test
t.question3_check(question3_solution)

Nice job! That's right! Those missing values in the X matrix will still not allow us to predict the response.

#### Question 4

**4.** Remove the rows associated with nan values in any column from **num_vars** (this was the removal process used in the screencast).  Store the dataframe with these rows removed in **all_rem**.

In [28]:
all_rm = num_vars.dropna(how='any')
# dataframe with rows for nan Salaries removed

all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [29]:
t.all_rm_test(all_rm) #test

Nice job! That looks right.  The default is to drop any row with a missing value in any column, so we didn't need to specify any arguments in this case.

In [41]:
print(all_rm.shape, all_rm.shape[0]*0.3)

(2147, 5) 644.1

#### Question 5

**5.** Using **all_rm**, create **X_2** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y_2** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question5_solution**.

In [31]:
X_2 = all_rm.drop(['Salary'], axis=1)
#Create X using explanatory variables from all_rm

y_2 = all_rm['Salary']
#Create y using Salary from sal_rm

# Split data into training and test data, and fit a linear model
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2 , test_size=.30, random_state=42)
lm_2_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_2_model.fit(X_2_train, y_2_train)
except:
    print("Oh no! It doesn't work!!!")

In [35]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question5_solution = b

#test
t.question5_check(question5_solution)

Nice job! That's right! Python isn't exactly magic, but sometimes it feels like it is!

#### Question 6

**6.** Now, use **lm_2_model** to predict the **y_2_test** response values, and obtain an r-squared value for how well the predicted values compare to the actual test values.

In [39]:
y_test_preds = lm_2_model.predict(X_2_test)
# Predictions here using X_2 and lm_2_model

r2_test =  r2_score(y_2_test, y_test_preds)
# Rsquared here for comparing test and preds from lm_2_model

# Print r2 to see result
r2_test

0.019170661803761813

In [ ]:
t.r2_test_check(r2_test)

#### Question 7

**7.** Use what you have learned **from the second model you fit** (and as many cells as you need to find the answers) to complete the dictionary with the variables that link to the corresponding descriptions.

In [42]:
a = 5009
b = 'Other'
c = 645
d = 'We still want to predict their salary'
e = 'We do not care to predict their salary'
f = False
g = True

question7_solution = {'The number of reported salaries in the original dataset': a,
                       'The number of test salaries predicted using our model': c,
                       'If an individual does not rate stackoverflow, but has a salary': d,
                       'If an individual does not have a a job satisfaction, but has a salary': d,
                       'Our model predicts salaries for the two individuals described above.': f}
                      
                      
#Check your answers against the solution - you should be told you were right if your answers are correct!                     
t.question7_check(question7_solution)

Whether an individual rates stackoverflow or has a job satisfaction we would still like to predict the salary if we can.

In [ ]:
#Cell for work

In [ ]:
#Cell for work